body {
  background-image: url(./background.jpg);
  height: 100vh;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  letter-spacing: 1.2px;
  font-family: 'DynaPuff', cursive;
  text-transform: capitalize;
}

#root {
  width: 70%;
  margin: auto;
  background-color: #ffffff10;
  backdrop-filter: blur(18px);
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}


.card-container {
  border: 1px solid #00F9F9;
  background-color: #1d1d1d;
  margin: 20px;
  border-radius: 10px;
  height: 100%;
  min-height: 380px;
  text-align: center;
  max-width: 200px;
  position: relative;
  animation: animationCards 1.5s;
}

@keyframes animationCards {
  0% {
    opacity: 0;
    transform: scale(0);
    transform: rotate(30deg);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card-container>img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #00F9F9;
}

.card-container>h3 {
  text-transform: capitalize;
}

.card-container>h3,
p {
  color: #00F9F9;
  margin: 3px;
}

.star {
  position: absolute;
  margin-left: 5px;
}

.page-navigation {
  display: flex;
  padding: 15px;
  background-color: #1d1d1d;
}

.page-navigation>p {
  margin: 10px 20px;
  color: #00F9F9;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.page-navigation>p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #00F9F9;
  border-radius: 4px;
  scale: 0;
  transform-origin: left;
  transition: scale 0.25s;
}

.page-navigation>p:hover::before {
  scale: 1;
  transform-origin: right;
}


/** ============================== table  ===================================*/

.table-container {
  display: flex;
  justify-content: center;
  margin: 40px 15px 0px 15px;
  animation: fadeIn 1.5s;

}

.table {
  color: #00F9F9;
  text-align: center;
  border-collapse: collapse;
  background-color: #1d1d1d;
}

.table>tr,
th,
td {
  border-bottom: 1px solid #1c77b4;
  padding: 8px;
}

.table>tr,
td {
  font-size: 13px;
}

.table>tr,
.fa-solid {
  cursor: pointer;
}

.table>tr,
.fa-star {
  color: #00f9f9bb;
  font-size: 12px;
  margin-left: 3px;
  cursor: default;
}

.table>tr,
.fa-square-plus {
  color: #00f921
}

.table>tr,
.fa-ban {
  color: red;
}


/** ============================== Form ==============================*/

.add-containerParent {
  display: flex;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 60vh;
  justify-content: center;

}

.add-containerChild {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c77b4;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  animation: animationCards 1.5s;
}

@keyframes animationCards {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.add-containerChild>.fa-x {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: #cc0606;
}

.add-containerChild>h3 {
  color: #1d1d1d;
}

.form-container {
  display: flex;
  flex-direction: column;

}

.form-container>input {
  margin: 5px;
  padding: 10px 25px;
  outline: none;
}

.form-container>.fa-plus {
  position: relative;
  width: 10%;
  bottom: 32px;
  right: 15px;
}

.add-containerChild>.form-button {
  margin: 5px;
  padding: 10px 25px;
  background-color: #1d1d1d;
  color: #00F9F9;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  transition: 1.5s ease-in;
}

.add-containerChild>.form-button:hover {
  transform: scale(1.2);
}


/* todo  not functional ============================== delete ============================== */

.delete-containerParent {
  display: flex;
  position: absolute;
  align-items: center;
  width: 100%;
  /* margin-top: -16em; */
  justify-content: center;
  text-transform: none;
}

.delete-containerChild {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1c77b4;
  padding: 0px 20px;
  border-radius: 12px;
  min-height: 200px;
  max-width: 30em;
}

.delete-containerChild>.fa-x {
  display: flex;
  justify-content: flex-end;
  color: #cc0606;
  position: relative;
  top: -25px;
  left: 6px;

}

.delete-containerChild>.confirmationText {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.delete-containerChild>.confirmationText>p {
  font-size: 20px;
  color: white;
}

.delete-containerChild>.confirmationText>p>span {
  text-transform: capitalize;
  font-weight: bold;
}

.delete-containerChild>.confirmationText>span {
  font-size: 13px;
  color: rgba(245, 245, 245, 0.842);
}

.delete-containerChild>.buttonConfirmation {
  display: flex;
  justify-content: flex-end;
}

.delete-containerChild>.buttonConfirmation>button {
  position: relative;
  top: 20px;
  margin: 10px;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-containerChild>.buttonConfirmation>.deleteNo {
  color: #1d1d1dce;
  border: 1px solid #1d1d1dce;
}

.delete-containerChild>.buttonConfirmation>.deleteYes {
  background-color: #cc0606;
  color: white;
  border: 1px solid #1d1d1d;
}